
body {
    background: #ffaeff url('../images/bg-repeat.jpg') repeat-x;
    background-size: contain;
    background-attachment: fixed;
}
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .section-info,
.container .section-form {
    max-width: 400px;
    width: 100%;
    margin: 10px 25px;
}

@media screen and (max-width: 764px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }
}

.container .section-info h1 {
    text-transform: uppercase;
    color: #fff;
}

.container .section-info p {
    color: #fff;
}

.container .section-info h1,
.container .section-info p {
    margin: 10px 0px;
}

.container .redes-sociais {
    margin: 20px 0px;
    cursor: pointer;
}

.container .redes-sociais a:visited {
    color: #ffffff;
}

.container .redes-sociais i {
    margin-right: 15px;
    font-size: 28px;
    color: #ffffffe7;
    transition: all 0.3s ease-in-out;

}

.container .redes-sociais i:hover {
    color: #fe6f3b;
}


.section-form {    
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}
.section-form .form {
    display: flex;
    flex-flow: column wrap;
}

.section-form .label {
    font-size: 12px;
    margin-top: 15px;
}

.section-form .form .input-form,
.section-form .form #mensagem {
    padding: 5px;
    margin: 5px 0px 5px 0px;
    border: 1px solid #5f5f5f;
    border-radius: 5px;
}

.section-form .form a.msg-alert {
    font-size: 12px;
    color: #bb0000;
}


.section-form .form .campos-obrigatorios {
    font-size: 14px;
    margin: 10px 0px;
}

.section-form .form #btn-enviar {
    font-size: 18px;
    font-weight: 700;
    padding: 15px 0px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #84e684;
}